<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faking Rentals</title>
</head>
<body>
    <h1>Rentals faked!</h1>
    {% for rental in rentals_list %}
        <p>Rental {{ rental.id }}: Rental date: {{ rental.rental_date }} | Return date: {{ rental.return_date }} | Customer id: {{ rental.customer_id }} | Vehicle id: {{ rental.vehicle_id }}</p>
    {% endfor %}

</body>
</html>